{% extends "base.html" %}
{% block title %}Connect to network{% endblock %}
{% block content %}

<h1>Connection</h1>
<div class="container mt-4 border rounded">
  <h3 class="text-center">Network information</h3>
  <div class="row row-cols-2">
    <div class="col">
      <h2 class="text-center">Interfaces</h2>
      <div class="table-container table-scrollable">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Interface</th>
              <th>IP Address</th>
              <th>Status</th>
              <th>Protocol</th>
            </tr>
          </thead>
          <tbody>
            {% for interface in interfaces %}
            <tr>
              <td>{{ interface['interface'] }}</td>
              <td>{{ interface['ip_address'] }}</td>
              <td>{{ interface['status'] }}</td>
              <td>{{ interface['proto'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col">
      <h3 class="text-center">VLANS</h3>
      <div class="table-container table-scrollable">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>VLAN</th>
              <th>Name</th>
              <th>Status</th>
              <th>Ports</th>
            </tr>
          </thead>
          <tbody>
            {% for vlan in vlans %}
            <tr>
              <td>{{ vlan['vlan_id'] }}</td>
              <td>{{ vlan['vlan_name'] }}</td>
              <td>{{ vlan['status'] }}</td>
              <td>{{ vlan['interfaces'] | join(', ') }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container">
  <h3 align="center">Routers</h3>
  <ul class="list-group" id="routers">

    {% for router in user.routers %}

    <li class="list-group-item d-flex justify-content-between align-items-center">

      <div class="ms-2 me-auto">
        <div class="fw-bold">{{ router.router_name }}</div>
        {{ router.host }}
        <div class="fw-bold">Connected</div>
        {{ router.networks }}
      </div>
      <form action="" method="POST" class="pe-2">
        <button type="submit" class="btn btn-success align-center" name="connect_button"
          value="{{ router.router_id}}">Connect</button>
      </form>

    </li>

    {% endfor %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <form action="" method="POST">
        <div class="ms-2 me-auto">
          <button type="submit" class="btn btn-success align-center" name="create_network_button"
            value="create_network_button">Create new one</button>
        </div>
      </form>
    </li>
  </ul>
</div> 
-->

<div class="container border mt-3 mb-3 pb-3 rounded">
  <h3 class="text-center">Manage</h3>
  <div class="">
    <form action="" method="POST" class="pe-2 d-flex justify-content-center">

      <button type="submit" class="btn btn-primary align-center m-2" name="hostname_button"
        value="{{ session['network_id'] }}">Skift hostname</button>

      <button type="submit" class="btn btn-primary align-center m-2" name="access_button"
        value="{{ session['network_id'] }}">Access List</button>

      <button type="submit" class="btn btn-primary align-center m-2" name="vlan_button"
        value="{{ session['network_id'] }}">VLANS</button>

      <button type="submit" class="btn btn-primary align-center m-2" name="dhcp_button"
        value="{{ session['network_id'] }}">DHCP</button>

      <button type="submit" class="btn btn-primary align-center m-2" name="ntp_server_button"
        value="{{ session['network_id'] }}">NTP Server</button>

      <button type="submit" class="btn btn-primary align-center m-2" name="ntp_klient_button"
        value="{{ session['network_id'] }}">NTP Klient</button>

      <button type="submit" class="btn btn-primary align-center m-2" name="port_sec_button"
        value="{{ session['network_id'] }}">Port security</button>

      <button type="submit" class="btn btn-success align-center m-2" name="gem_button"
        value="{{ session['network_id'] }}">Gem</button>
      <!--
    <button type="submit" class="btn btn-primary align-center" name="router_button"
      value="{{ session['network_id'] }}">Tilføj router</button>
    -->
    </form>

  </div>
</div>



{% endblock %}