{% extends "base.html" %}
{% block title %}Connect to network{% endblock %}
{% block content %}

<h1 class="fw-bold text-center">{{ network_name}}</h1>
<div class="mt-4 border rounded">
  <h3 class="text-center">Network information for {{ network_name }}</h3>
  <div class="row row-cols-2">
    <div class="col">
      <h2 class="text-center">Interfaces</h2>
      <div class="table-container table-scrollable">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Interface</th>
              <th>IP Address</th>
              <th>Status</th>
              <th>Protocol</th>
            </tr>
          </thead>
          <tbody>
            {% for interface in interfaces %}
            <tr>
              <td>{{ interface['interface'] }}</td>
              <td>{{ interface['ip_address'] }}</td>
              <td>{{ interface['status'] }}</td>
              <td>{{ interface['proto'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col">
      <h2 class="text-center">VLANS</h2>
      <div class="table-container table-scrollable">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>VLAN</th>
              <th>Name</th>
              <th>Status</th>
              <th>Ports</th>
            </tr>
          </thead>
          <tbody>
            {% for vlan in vlans %}
            <tr>
              <td>{{ vlan['vlan_id'] }}</td>
              <td>{{ vlan['vlan_name'] }}</td>
              <td>{{ vlan['status'] }}</td>
              <td>{{ vlan['interfaces'] | join(', ') }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container border mt-3 mb-3 pb-3 rounded">
  <h3 class="text-center">Konfigurere</h3>
  <div class="">
    <form action="" method="POST" class="pe-2 d-flex justify-content-center">

      <button type="submit" class="btn btn-primary align-center m-2" name="hostname_button"
        value="{{ session['network_id'] }}">Skift hostname</button>

      <button type="submit" class="btn btn-primary align-center m-2" name="access_button"
        value="{{ session['network_id'] }}">Access List</button>

      <button type="submit" class="btn btn-primary align-center m-2" name="vlan_button"
        value="{{ session['network_id'] }}">VLANS</button>

      <button type="submit" class="btn btn-primary align-center m-2" name="dhcp_button"
        value="{{ session['network_id'] }}">DHCP</button>

      <button type="submit" class="btn btn-primary align-center m-2" name="ntp_server_button"
        value="{{ session['network_id'] }}">NTP Server</button>

      <button type="submit" class="btn btn-primary align-center m-2" name="ntp_klient_button"
        value="{{ session['network_id'] }}">NTP Klient</button>

      <button type="submit" class="btn btn-primary align-center m-2" name="port_sec_button"
        value="{{ session['network_id'] }}">Port security</button>

      <button type="submit" class="btn btn-success align-center m-2" name="gem_button"
        value="{{ session['network_id'] }}">Gem</button>
    </form>
  </div>
</div>

{% endblock %}