{% extends "base.html" %}
{% block title %}DHCP{% endblock %}
{% block content %}
<div class="container">
    <h1>DHCP</h1>
    <h3>Opsæt en DHCP-pool</h3>
    <form action="" method="POST" class="pe-2">
        <label for="dhcp_name">DHCP Navn</label>
        <input type="text" name="dhcp_name" id="dhcp_name" class="form-control">

        <label for="netværks_adresse">Netværks adresse</label>
        <input type="text" name="netværks_adresse" id="netværks_adresse" class="form-control">

        <label for="subnetmaske">Subnetmaske</label>
        <input type="text" name="subnetmaske" id="subnetmaske" class="form-control">

        <label for="router">Router</label>
        <select class="form-select" aria-label="Default select example" name="router" id="router">
            {% for router in routers %}
            <option value="{{ router.router_name }}">{{ router.router_name + ' ' + router.host }}</option>
            {% endfor %}
        </select>

        <label for="dns_server">DNS server</label>
        <input type="text" name="dns_server" id="dns_server" class="form-control">

        <button type="submit" class="btn btn-primary mt-2" name="create_button" value="create_button">Create</button>
    </form>
</div>
{% endblock %}