{% extends "base.html" %}
{% block title %}DHCP{% endblock %}
{% block content %}

<div class="back-div">
    <a class="back" href="{{ url_for('network.connect') }}"><< Tilbage</a>
</div>

<h1 class="fw-bold text-center">DHCP</h1>
<form action="" method="POST" class="pe-2">
    <h3>Lav DHCP pool</h3>
    <label for="dhcp_name">DHCP Navn</label>
    <input type="text" name="dhcp_name" id="dhcp_name" class="form-control">
    <br>

    <label for="netværks_adresse">Netværks adresse</label>
    <input type="text" name="netværks_adresse" id="netværks_adresse" class="form-control">
    <br>

    <label for="subnetmaske">Subnetmaske</label>
    <input type="text" name="subnetmaske" id="subnetmaske" class="form-control">
    <br>

    <label for="network">Defualt router</label>
    <input type="text" name="network" id="network" class="form-control">
    <br>

    <label for="exclude">Exclude address</label>
    <input type="text" name="exclude" id="exclude" class="form-control">
    <br>

    <button type="submit" class="btn btn-primary mt-2" name="create_button" value="create_button">Lav</button>
</form>

{% endblock %}