{% extends "base.html" %}
{% block title %}Hostname{% endblock %}
{% block content %}
<div class="back-div">
    <a class="back" href="{{ url_for('network.connect') }}"><< Tilbage</a>
</div>
<h1 class="fw-bold text-center">Hostname</h1>
<div class="manage p-4 rounded">
    <form action="" method="POST" class="pe-2">
        <label for="hostname">Hostname</label>
        <input type="text" name="hostname" id="hostname" class="form-control">

        <button type="submit" class="btn btn-primary mt-2" name="create_button" value="create_button">Ændre</button>
    </form>
</div>
{% endblock %}