{% extends "base.html" %}
{% block title %}NTP{% endblock %}
{% block content %}
<div class="container">
    <h1>NTP</h1>
    <h3>Lav en NTP server</h3>
    <form action="" method="POST" class="pe-2">
        <label for="stratum_number">Stratum number</label>
        <input type="text" name="stratum_number" id="stratum_number" class="form-control">
        
        <label for="tid">Optag tid fra</label>
        <input type="text" name="tid" id="tid" class="form-control">

        <label for="klient">Angiv klient</label>
        <select class="form-select" aria-label="Default select example" name="klient" id="klient">
            {% for router in routers %}
            <option value="{{ router.router_name }}">{{ router.router_name + ' ' + router.host }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary mt-2" name="create_button" value="create_button">Create</button>
    </form>
</div>
{% endblock %}