{% extends "base.html" %}
{% block title %}Connect to network{% endblock %}
{% block content %}

<!--<form action="" method="POST">
    <button type="submit" class="btn btn-primary ms-2" name="submit_button" value="connect">Automatisering</button>
</form>
<div class="container mt-5" >
    <form action="" method="POST">
        <button type="submit" class="btn btn-primary ms-2" name="submit_button" value="connect">Lav VLAN20</button>
    </form>

</div>
-->
<div class="container">
    <h1 class="mt-5">Cisco Interface Information</h1>
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Interface</th>
          <th>IP Address</th>
          <th>Status</th>
          <th>Protocol</th>
        </tr>
      </thead>
      <tbody>
        {% for interface in output %}
          <tr>
            <td>{{ interface['interface'] }}</td>
            <td>{{ interface['ip_address'] }}</td>
            <td>{{ interface['status'] }}</td>
            <td>{{ interface['proto'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<div class="container" >
    <form action="" method="POST">
        <button type="submit" class="btn btn-primary mb-3" name="submit_button" value="connect">Lav VLAN20</button>
    </form>
</div>
{% endblock %}