{% extends "base.html" %}
{% block title %}My networks{% endblock %}
{% block content %}
<h1 align="center">Manage network</h1>
<ul class="list-group" id="networks">
    
    {% for networks in user.networks %}
    
    <li class="list-group-item d-flex justify-content-between align-items-center">
        
        <div class="ms-2 me-auto">
            <div class="fw-bold">{{ networks.network_name }}</div>
            {{ networks.host }}
        </div>
        <form action="" method="POST" class="pe-2">
            <button type="submit" class="btn btn-success align-center" name="connect_button" value="{{ networks.network_id}}">Connect</button>
        </form>
        <form action="" method="POST" class="pe-2">
            <button type="submit" class="btn btn-primary align-center" name="change_button" value="{{ networks.network_id}}">Change settings</button>
        </form>
        <form action="" method="POST" class="pe-2">
            <button type="submit" class="btn btn-primary align-center" name="access_button" value="{{ networks.network_id}}">Access List</button>
        </form>
        
    </li>
    {% endfor %}
</ul>
{% endblock %}