{% extends "base.html" %}
{% block title %}My networks{% endblock %}
{% block content %}
<h1 class="fw-bold text-center">Manage network</h1>
<ul class="list-group" id="networks">

    {% for networks in user.networks %}

    <li class="list-group-item d-flex justify-content-between align-items-center">

        <div class="ms-2 me-auto">
            <div class="fw-bold">{{ networks.network_name }}</div>
            {{ networks.host }}
        </div>
        <form action="" method="POST" class="pe-2">
            <button type="submit" class="btn btn-primary align-center" name="change_button"
                value="{{ networks.network_id}}">Ændre netværks indstillinger</button>

            <button type="submit" class="btn btn-success align-center" name="connect_button"
                value="{{ networks.network_id}}">Forbind</button>
        </form>
        
    </li>
    
    {% endfor %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <form action="" method="POST">
            <div class="ms-2 me-auto">
                <button type="submit" class="btn btn-success align-center" name="create_network_button"
                    value="create_network_button">Forbind til ny enhed</button>
            </div>
        </form>
    </li>
</ul>
{% endblock %}