{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<form method="POST">
    <h3 class="fw-bold text-center">Lav en bruger</h3>
    <div class="mb-3">
        <label for="username">Brugernavn</label>
        <input type="username" name="username" id="username" class="form-control" placeholder="Enter username">
    </div>  
    <div class="mb-3">
        <label for="password">Adgangskode</label>
        <input type="password" name="password1" id="password1" class="form-control" placeholder="Password">
    </div>
    <div class="mb-3">
        <label for="password">Bekræft adgangskode</label>
        <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}