.alert {
    border-radius: 0 !important;
}

.close-button {
    height: 0.01rem;
}

textarea {
    resize: none;
    height: 250px;
}

.nav-link {
    color: rgb(165, 165, 165);
}

.right_nav:hover {
    color: rgb(165, 165, 165);
    
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 0.75rem;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
.table-container {
    width: 100%;
    overflow-x: auto; 
}


.table-scrollable {
    max-height: 500px; 
    overflow-y: auto;  
}